.orders-wrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 20px;
}

.orders {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.orders h4 {
  margin-bottom: 10px;
}

.order-items {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.no-orders {
  width: 100%;
  text-align: center;
  margin-top: 5%;
}
