.main-element {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.messages {
  position: fixed;
  top: 80px;
  right: 20px;
  border-radius: 6px;
  padding: 10px 20px;
  background-color: var(--color-white);
  z-index: 100;
}

.error {
  font-size: 70%;
  color: var(--color-danger);
}
.success {
  font-size: 70%;
  color: var(--color-success);
}

@media (max-width: 1490px) {
  .main-element {
    max-width: 1200px;
  }
}

@media (max-width: 1250px) {
  .main-element {
    max-width: 900px;
  }
}

@media (max-width: 950px) {
  .main-element {
    max-width: 700px;
  }
}

@media (max-width: 750px) {
  .main-element {
    max-width: 100%;
    padding: 0 20px;
  }
}
