.sign-in-up-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-field {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.form-field label {
  font-size: 80%;
  margin-bottom: 5px;
  padding: 0 5px;
}

.form-field input {
  font-size: 80%;
  height: 25px;
  outline: none;
  padding: 0 5px;
}

.sign-in-up-form button {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  border-radius: 6px;
  color: var(--color-black);
  font-weight: bold;
  font-size: 70%;
  padding: 5px 10px;
  cursor: pointer;
  transition: border 0.3s;
  margin-bottom: 15px;
}

.sign-in-up-form button:hover {
  border: 1px solid var(--color-secondary);
  background-color: var(--color-primary);
  color: var(--color-black);
  padding: 5px 10px;
}

.sign-in-up-form button:disabled,
.sign-in-up-form button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.sign-in-up-links {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.sign-in-up-links a {
  color: var(--color-secondary);
  font-size: 80%;
}

.error-messages {
  color: var(--color-danger);
  font-size: 80%;
  margin-bottom: 15px;
}
